<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saloonapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Parlour.SuggestionActivity"></activity>
        <activity android:name=".Activities.Common.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Parlour.BookingDetailActivity" />
        <activity android:name=".Activities.User.AppointmentDetailActivity" />
        <activity android:name=".Activities.User.CartActivity" />
        <activity android:name=".Activities.Parlour.ParlourScheduleActivity" />
        <activity android:name=".Activities.User.FiltersActivity" />
        <activity android:name=".Activities.User.ParlourDetailActivity" />
        <activity android:name=".Activities.User.ListOfParloursActivity" />
        <activity
            android:name=".Activities.User.UserDrawerActivity"
            android:label="@string/title_activity_user_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.Parlour.SubServiceActivity" />
        <activity
            android:name=".Activities.Parlour.ParlourDrawerActivity"
            android:label="@string/title_activity_parlour_drawer"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activities.Parlour.MapActivity"
            android:label="@string/title_activity_map" />
        <activity android:name=".Activities.Common.SignupActivity" />
        <activity android:name=".Activities.Common.LoginActivity">
        </activity>
    </application>

</manifest>